apiVersion: v1
kind: Pod
metadata:
  name: mysql
  labels:
    app: db
spec:
  containers:
  - name: mysql
    image: mysql:5.7
    envFrom:
      - secretRef:
            name: db-secret
    ports:
      - containerPort: 8080
